set mark-symlinked-directories on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set editing-mode vi

# Command Mode
set keymap vi-command
v: ""
Control-a: beginning-of-line
Control-b: backward-char
Control-d: delete-char
Control-e: end-of-line
Control-f: forward-char
Control-k: kill-line
Control-l: clear-screen
Control-n: next-history
Control-p: previous-history
Control-r: reverse-search-history
Control-s: forward-search-history
Control-u: unix-line-discard
Control-w: unix-word-rubout
Control-y: yank

# Insert Mode
set keymap vi-insert
"\e.":yank-last-arg
"\C-a": beginning-of-line
"\C-b": backward-char
"\C-d": delete-char
"\C-e": end-of-line
"\C-f": forward-char
"\C-k": kill-line
"\C-l": clear-screen
"\C-n": next-history
"\C-p": previous-history
"\C-r": reverse-search-history
"\C-s": forward-search-history
"\C-u": unix-line-discard
"\C-w": unix-word-rubout
"\C-y": yank
